page-boas-vindas {
  .bg-style {
    background:#4e2026 ;
  }
  #box-texto{
    margin: 150px 0px 50px 0px
  }
  .texto{
    text-align: center;
    color:#daa520;
  }
  .item{
    background-color: #E8E8E8;

  }
  .lista_user{
    background:#4e2026 ;
    color: white;
  }
  .list-md{
    background:#4e2026 ;
  }
  #btn{
    display: block;
    margin: 0px auto;
    padding: 0px;
    width: 132px;
    border-radius: 20px;
    color: #daa520;
    font-weight: bolder;
    background-color: #E8E8E8;
  }
  #box-btn1{
    display: flex;
  }
  #box-btn2{
    display: flex;
  }
  .btn-todos{
    display: block;
    border-radius: 20px;
  }
}
